@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Anton&family=Audiowide&family=Bangers&family=Bowlby+One+SC&family=Bungee&family=Cairo&family=Chewy&family=Creepster&family=Indie+Flower&family=Josefin+Sans&family=Josefin+Slab&family=Lobster&family=Lovers+Quarrel&family=Macondo&family=Monoton&family=Ms+Madi&family=Pacifico&family=Poppins&family=Press+Start+2P&family=Raleway&family=Sigmar+One&family=Square+Peg&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Pacifico' !important;
}
